<!--
    here we need:
    card component with expandable markdown cheatsheet
    select input component for pill creation (tags)
    pill components
    the document component for writing content
    4 buttons of variant iconOnly/small with labels and icons
    and TODO some way to align all this properly
-->

<pui-bar>
    <pui-panel>
        fancy left panel
        <pui-panel-item> left panel item 1 </pui-panel-item>
        <pui-panel-item> left panel item 2 </pui-panel-item>
    </pui-panel>
    <pui-panel>
        fancy middle panel
        <pui-panel-item> middle panel item 1 </pui-panel-item>
        <pui-panel-item> middle panel item 2 </pui-panel-item>
    </pui-panel>
    <pui-panel>
        fancy right panel
        <pui-panel-item> right panel item 1 </pui-panel-item>
        <pui-panel-item> right panel item 2 </pui-panel-item>
    </pui-panel>
</pui-bar>
